body {
    user-select: none;
}

#page_title {
    position: absolute;
    width: 80vw;
    text-align: center;
    left: 10vw;
    font-size: 5vh;
}

.section_title {
    position: absolute;
    top: 20vh;
    width: fit-content;
    height: 4vh;
    text-align: center;
    font-size: 3vh;
}

#cs_title {
    right: 56vw;
}

#config_title {
    left: 56vw;
}

.input_general {
    all: unset;
    position: absolute;
    color: #000000;
    background: #ffffff;
    width: 15vw;
    height: 5vh;
    padding: 0.3vh 0.8vw 0.3vh 0.8vw;
    border-radius: 0.35vw;
    font-size: 1.8vh;
}

.open_button {
    all: unset;
    color: #ffffff;
    background: #000000;
    width: 5vw;
    height: 5vh;
    border-radius: 0.35vw;
    padding: 0.3vh 0.1vw 0.3vh 0.1vw;
    text-align: center;
    font-size: 1.8vh;
    cursor: pointer;
}

#connectionString {
    width: 30vw;
    right: calc(5.2vw + 0.9vw);
}

#cs_button {
    right: 0vw;
}

#cs_and_button {
    position: absolute;
    right: 56vw;
    top: 32vh;
}

#config_inputs_div {
    position: absolute;
    left: 56vw;
    top: 32vh;
}

#user {
    left: 0vw;
    top: 9vh;
}

#password {
    left: 18vw;
    top: 9vh;
}

#server {
    left: 0vw;
    top: 0vh;
}

#database {
    left: 18vw;
    top: 0vh;
}

#config_button {
    position: absolute;
    left: 71vw;
    top: 60vh;
}

#vertical_line {
    position: absolute;
    border-left: 0.2vw solid gray;
    height: 60vh;
    width: 0vw;
    left: 49.9vw;
    top: 20vh;
    border-radius: 30vh;
}

#hint {
    all:unset;
    position: absolute;
    width: 30vw;
    height: 10vh;
    left: 35vw;
    text-align: center;
    font-size: 2vh;
    top: 90vh;
}

#list_tables {
    position: absolute;
    left: 8vw;
    top: 10vh;
    width: auto;
    height: auto;
    padding: 0.3vh 0.2vw 0.3vh 0.2vw;
    background-color: #4f4f4f;
    border-radius: 0.8vh;
}

#list_tables p {
    all: unset;
    float: left;
    width: 11.4vw;
    height: 4vh;
    line-height: 3vh;
    margin: 0.5vh 0.3vw 0.5vh 0.3vw;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5vh;
    color: #000000;
    user-select: none;
    cursor: pointer;
    transition: 120ms;
    border-radius: 0.8vh;
}

#list_tables p:hover {
    background-color: #8f8f8f;
}

#list_tables p.selected_table {
    background-color: white;
    font-weight: 500;
}

#list_tables p.sected_table:hover {
    background-color: white;
}

#preview_div {
    position: absolute;
    left: 8vw;
    top: 55vh;
    width: 84vw;
    height: 35vh;
    background-color: #afafaf;
    color: #000000;
}

#preview_table {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.65vh;

}

table, th, td {
    border: 0.2vh solid #4f4f4f;
    border-collapse: collapse;
    box-sizing: border-box;
}

#checkbox_anonymize {
    width: 1.2vw;
    height: 2.4vh;
    cursor: pointer;
}

#checkbox_and_label {
    position: absolute;
    left: 8vw;
    top: 50vh;
    font-size: 2.5vh;
    user-select: none;
    cursor: pointer;
}

#trust_and_label {
    position: absolute;
    left: 8vw;
    top: 20vh;
    width: 20vw;
    font-size: 2.5vh;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

#checkbox_trust {
    width: 1.2vw;
    height: 2.4vh;
    cursor: pointer;
}

#button_container {
    position: absolute;
    top: 4vh;
    left: 44vw;
    width: auto;
    height: auto;
}

.nav_button_round {
    width: 2vw;
    height: 2vw;
    background-color: #000000;
    text-align: center;
    line-height: 2vw;
    border-radius: calc(2vw / 2);
    font-size: 2vh;
    color: #ffffff;
    user-select: none;
    cursor: pointer;
    float: left;
}

#back_button {
    margin-left: 1vw;
}

#run_button {
    width: 3vw;
    margin-left: 1vw;
}

#next_button {
    margin-left: 1vw;
}

/* Loading Spinner */
#loading {
    position: absolute;
    left: 40vw;
    top: 30vh;
    width: 20vw;
    text-align: center;
    font-size: 5vh;
    user-select: none;
}

#currentStep {
    position: absolute;
    left: 30vw;
    top: 56vh;
    width: 40vw;
    text-align: center;
    font-size: 3vh;
    user-select: none;
}

#spinner {
    position: absolute;
    left: calc(50vw - 6vh);
    top: 44vh;
    user-select: none;
}

/* online source */

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 12vh;
  height: 12vh;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 9.6vh;
  height: 9.6vh;
  margin: 1.2vh;
  border-radius: 50%;
  border: 0.96vh solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}